main {
    position: center;
    width: 1024px;
    margin: 20px;

    font-family: sans-serif, Arial;
}

.avatar {
    margin: 20px;
}

.name {
    position: center;
    text-align: center;
}
